<div class="clearfix py3">
    <div class="col col-12 lg-col-4">
        <div class="flex items-center">
            <a href="#top">
                <amp-img src="{{ site.logo_alt }}" width="60" height="60" layout="fixed"></amp-img>
            </a>
            <div class="ml1 py1">
                <p class="m0 headings h5 bold white">{{ 'Dewan Pengurus Cabang' | upcase }}</p>
                <p class="m0 headings h4 bold white">{{ 'Partai Keadilan Sejahtera' | upcase }}</p>
                <p class="m0 headings h5 white">{{ 'Kec. Mentawa Baru Ketapang' }}</p>
            </div>
        </div>
    </div>
    <div class="col col-12 lg-col-4"></div>
    <div class="col col-12 lg-col-4"></div>
</div>