<div class="clearfix py3">
    <div class="col col-12 lg-col-4">
        <div class="flex">
            <amp-img src="{{ site.logo }}" width="50" height="71" layout="fixed"></amp-img>
            <div class="flex-auto ml1 py1">
                <p class="m0 headings h5 white">{{ 'Dewan Pengurus Cabang' | upcase }}</p>
                <p class="m0 headings h4 bold white">{{ 'Partai Keadilan Sejahtera' | upcase }}</p>
                <p class="m0 headings h5 white">{{ 'Kec. Mentawa Baru Ketapang' | upcase }}</p>
            </div>
        </div>
    </div>
    <div class="col col-12 lg-col-4"></div>
    <div class="col col-12 lg-col-4"></div>
</div>