<!--Kabar Berita-->
<div id="kabar-berita" class="col col-12 px1 pb3">
    <h1 class="h2 mt0">{{ includename }}</h1>
    {% include 'components/kabar-berita-content.liquid' %}
    <p class="col col-12 mt2 h5 bold"><a href="{{ includeurl }}">{{ "Semua " | append: includename | upcase }}</a></p>
</div>