---
layout: layout
permalink: index.html
---
<div class="clearfix flex flex-wrap content-stretch mxn1">
    <!--top space-->
    <div class="col col-12" style="height: 120px;"></div>

    {% include 'components/home/home-carousel.liquid' %}

    {% include 'components/home/home-menu.liquid' %}

    {% include 'components/home/gallery-carousel.liquid' %}

    {% assign posts = collections.news | sort: date | reverse %}
    {% include 'components/kabar-berita.liquid', includename: 'Kabar Terkini', includeurl: '/news' %}

</div>