---
title: Coming Soon
permalink: soon.html
layout: page
---
<div class="flex flex-column items-center">
    <amp-img class="mb2" src="{{ site.logo }}" width="105" height="150" layout="intrinsic"></amp-img>
    <h1 class="h1 m0">{{ title }}</h1>
</div>
