---
layout: page
header: false
headerScheme: false
---
<div class="flex flex-column items-center justify-center" style="min-height: 80vh;">
    <amp-img class="mb2" src="{{ site.logo_txt }}" width="180" height="255" layout="intrinsic"></amp-img>
    <p class="h2 center bold headings m0">{{ "Mentawa Baru Ketapang" }}</p>
    <h1 class="h1 mt2 accented mb0">{{ title }}</h1>
    <div>
        {{ content }}
    </div>
</div>