---
layout: layout
---
<div id="content-header" class="mxn3 relative">
    <amp-img src="{{ image }}" height="450" layout="fixed-height"></amp-img>
    <h1 id="content-title" class="absolute px3 h1 white">{{ title }}</h1>
</div>
<div id="content-main">
    {{ content }}
</div>
