---
layout: layout
---
<div class="max-width-4 mx-auto">
    <div id="content-header" class="mxn3 relative">
        <amp-img src="{{ image }}" width="600" height="450" layout="responsive"></amp-img>
        <h1 id="content-title" class="absolute px3 pb2 m0 h2 white">{{ title }}</h1>
    </div>
    <div id="content-main">
        {{ content }}
    </div>
</div>

