---
layout: layout
headerScheme: accented
---
<div class="mxn3 bg-accented" style="height: 120px;"></div>

<!--Page header-->
<div class="mxn3 mb3 bg-accented">
    <div id="page-header" class="max-width-4 mx-auto p3 flex items-center justify-center">
        <h1 class="m0 center">{{ title }}</h1>
    </div>
</div>

{{ content }}