---
layout: layout
headerScheme: accented
---
{% include 'components/space.liquid' %}

{% unless header == false %}
<!--Page header-->
<div class="mxn3 mb3 bg-accented">
    <div id="page-header" class="max-width-4 mx-auto p3 flex items-center justify-center">
        <h1 class="m0 white center">{{ title }}</h1>
    </div>
</div>
{% endunless %}

{{ content }}