---
title: Quick Count Pilkada <br> Kab. Kotawaringin Timur 2020
layout: layout
permalink: MqaMaJtlnr5MmxLHWOTBPw.html
---
{% include 'components/space.liquid' %}
<div class="max-width-4 mx-auto">
    <div class="clearfix">
        <div class="col col-12">
            <h1 class="h1 center">{{ title }}</h1>
        </div>
        <div class="col col-12 flex items-center justify-center">
            <amp-iframe class="overflow-hidden" src="{{ '/qc-iframe' | prepend: site.url }}" sandbox="allow-scripts" layout="intrinsic" height="600" width="600">
                <amp-layout layout="fill" style="background-image: url('{{ site.logo_txt }}'); background-size: 25%; background-repeat: no-repeat; background-position: center center;" placeholder></amp-layout>
            </amp-iframe>
        </div>
        <div class="col col-12 flex items-center justify-center">
            {% include 'components/social.liquid' %}
        </div>
    </div>    
</div>
