---
title: Quick Count Pilkada 2020
layout: layout
permalink: pilkada2020.html
---
{% include 'components/space.liquid' %}
<div class="max-width-4 mx-auto">
    <div class="clearfix">
        <div class="col col-12">
            <amp-iframe src="{{ '/qc-iframe' | prepend: site.url }}" sandbox="allow-scripts" layout="responsive" height="300" width="400">
                <amp-layout layout="fill" style="background-image: url('{{ site.logo_txt }}'); background-size: 10%; background-repeat: no-repeat; background-position: center center;" placeholder></amp-layout>
            </amp-iframe>
        </div>
    </div>    
</div>

