---
layout: layout
permalink: personalia/supriyanto.html
headerScheme: accented
title: "H. Supriyanto, SE. MM"
description: "Anggota DPRD Kab. Kotim, Daerah Pemilihan I, Mentawa Baru Ketapang"
image: "/img/personalia/supriyanto.png"
---
<div class="mxn3 bg-accented" style="height: 120px;"></div>

<div class="mxn3 mb3 bg-accented">
    <div id="aleg-portal-header" class="max-width-4 mx-auto clearfix flex flex-wrap content-stretch">
        <div id="aleg-portal-image" class="col col-5" style="background-image: url('{{ image | prepend: site.url }}');"></div>
        <div class="col col-7 flex flex-column justify-center white px2">
            <p class="mt0 mb1 h6 bold">{{ 'Kenali Wakil Kita' | upcase }}</p>
            <h1 class="m0 h2">{{ title }}</h1>
            <p class="mb0 mt1 h5">{{ description | replace: ', ', '<br>' }}</p>
        </div>
    </div>
</div>

<div class="mxn1">
    <!--Video Profil-->
    <div id="aleg-portal-video" class="px1 pb3">
        <h1 class="h2 mt0">Sambutan</h1>
        <amp-youtube data-videoid="Q1pjxLedHcU" width="16" height="9" layout="responsive"></amp-youtube>
    </div>

    {% if pagination %}
    {% include 'components/kabar-berita', includename: 'Aktivitas', includeurl: '#' %}
    {% endif %}
</div>