<!--Photo Gallery Carousel-->
<div id="gallery-carousel" class="col col-12 px1 pb2 mt2">
    <h1 class="h2 inline-block bg-accented white mt0 mb2 p1">Galeri Kegiatan</h1>
    <amp-carousel type="carousel" height="200" layout="fixed-height">
        {% for item in collections.gallery reversed %}
        <a href="{{ item.url }}">
            <amp-img src="{%- if item.data.gallery[0].media contains 'http://' or item.data.gallery[0].media contains 'https://' -%}{{ item.data.gallery[0].media }}{%- else -%}{{ item.data.gallery[0].media | prepend: site.url }}{%- endif -%}" width="200" height="200" ></amp-img>
        </a>
        {% endfor %}
    </amp-carousel>
    <p class="mt2 h5 accented bold"><a href="/gallery">{{ "Semua Kegiatan" | upcase }}</a></p>
</div>