    <!--Headline Carousel-->
    <div id="home-carousel" class="col col-12 lg-col-8 px1 pb2">
        <amp-carousel type="slides" width="16" height="10" layout="responsive" loop>
            <amp-img src="https://source.unsplash.com/1600x1000/daily?muslim" width="600" height="375" layout="responsive"></amp-img>
            <amp-img src="https://source.unsplash.com/1600x1000/daily?london" width="600" height="375" layout="responsive"></amp-img>
            <amp-img src="https://source.unsplash.com/1600x1000/daily?trump" width="600" height="375" layout="responsive"></amp-img>
        </amp-carousel>
    </div>