    <!--Headline Carousel-->
    <div id="home-carousel" class="col col-12 md-col-7 px1 pb2">
        <amp-carousel type="slides" width="16" height="10" layout="responsive" autoplay loop>
            {% for item in home-carousel %}
            <a class="relative" href="{{ item.url }}" target="{%- if item.url contains 'http://' or item.url contains 'https://' -%} _blank {%- else -%} _self {%- endif -%}" {%- if item.url contains 'http://' or item.url contains 'https://' -%}rel="noreferrer"{%- endif -%}>
                <amp-img src="{{ item.image | prepend: site.url }}" width="600" height="375" layout="responsive"></amp-img>
            </a>
            {% endfor %}
        </amp-carousel>
    </div>
