<!--Kabar Berita-->
<div id="kabar-berita" class="col col-12 md-col-9 mxn1 px1 pb2 mt2">
    <div class="col col-12">
        <h1 class="h2 inline-block bg-accented white mt0 mb2 mx1 p1">{{ includename }}</h1>
    </div>
    <div class="col col-12 clearfix flex flex-wrap content-stretch">
        {% for post in posts limit: 9 %}
        {% include 'components/kabar-berita-content.liquid' %}
        {% endfor %}
    </div>
    <p class="col col-12 mx1 mt1 accented h5 bold"><a href="{{ includeurl }}">{{ "Semua " | append: includename | upcase }}</a></p>
</div>